ZEROX_API_KEY=
ETHERSCAN_API_KEY=
LIFI_API_KEY=

# Add deployed HojswapRouterV2 addresses here after deploying each chain.
NEXT_PUBLIC_APP_URL=https://swap.thehouseofjoshi.com
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_TRANSAK_API_KEY=
NEXT_PUBLIC_HOJSWAP_ROUTER_BASE=0x6aCaf964bCf4551CC55Afaf12d6e6a8ef7138875
NEXT_PUBLIC_HOJSWAP_ROUTER_ETHEREUM=
NEXT_PUBLIC_HOJSWAP_ROUTER_POLYGON=0x2C5F372746330465C3f4084CE6C6aBce22a48B4d
NEXT_PUBLIC_HOJSWAP_ROUTER_BNB=0x2C5F372746330465C3f4084CE6C6aBce22a48B4d
NEXT_PUBLIC_HOJSWAP_ROUTER_ARBITRUM=0x2C5F372746330465C3f4084CE6C6aBce22a48B4d
NEXT_PUBLIC_HOJSWAP_ROUTER_OPTIMISM=0x2C5F372746330465C3f4084CE6C6aBce22a48B4d
NEXT_PUBLIC_HOJSWAP_ROUTER_AVALANCHE=0x2C5F372746330465C3f4084CE6C6aBce22a48B4d
NEXT_PUBLIC_HOJSWAP_ROUTER_UNICHAIN=0x2C5F372746330465C3f4084CE6C6aBce22a48B4d
NEXT_PUBLIC_HOJSWAP_ROUTER_ROBINHOOD=0x2C5F372746330465C3f4084CE6C6aBce22a48B4d
NEXT_PUBLIC_HOJSWAP_ROUTER_CRONOS=0x2C5F372746330465C3f4084CE6C6aBce22a48B4d

# Deploy/admin scripts.
RPC_URL=
CHAIN_ID=
PRIVATE_KEY=
HOUSE_WALLET=0x6736d2eA9807297F0e56967361B9410854B86a5f
INITIAL_ROUTERS=
INITIAL_SPENDERS=
SWAP_TARGET=
SPENDER=
APPROVED=true
