NEXT_PUBLIC_XAMAN_API_KEY=your-xaman-public-api-key
XAMAN_API_SECRET=your-xaman-private-api-secret
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=your-walletconnect-project-id
JUPITER_API_KEY=your-jupiter-api-key
OPENSEA_API_KEY=your-opensea-api-key
